<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         backupGlobals="true"
         colors="true">
    <testsuites>
        <testsuite name="All tests for somrlik/hello-bank-cz-api">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="PRODUCTION_MERCHANT_ID" value="0"/>
    </php>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
